{% extends "base_generic.html" %} 

{% block title %}Home{% endblock %} 


{% block content %}


<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <br>
            <a href="{% url 'productos_app:consultar-productos-page' %}">
                <img class="mx-auto d-block" src="../../static/img/productos.png" alt="..." width="120" height="120">
            </a>
            <br>
            <div class="card-body">
                <h5 class="card-title">Gestion de Productos</h5>
                <p class="card-text">En la siguiente seccion podra gestionar sus productos.</p>
            </div>
        </div>
    </div>
  </div>



{% endblock %}