{% extends "base_generic.html" %}

{% block title %}Productos{% endblock %}


{% block content %}


<div class="row">
    <div class="col">
        <h1>Lista de productos en stock</h1>
    </div>
    
    <div class="col col-lg-2">
        <a class="btn btn-secondary btn-lg" href="{% url 'productos_app:crear-producto-page' %}" role="button">Agregar Producto</a>
    </div>
</div>

<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col" style="width: 20% !important;">Opciones</th>
        </tr>
    </thead>

    <tbody>

        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>
                <a class="btn btn-secondary" href="{% url 'productos_app:actualiza-producto-page'   id=producto.id %}" role="button">Modificar</a>
                <a class="btn btn-secondary" href="{% url 'productos_app:inhabilitar-producto-page' id=producto.id %}" role="button">Inhabilitar</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}