{% extends "base_generic.html" %}

{% block title %}Productos{% endblock %}


{% block content %}

<h1>Formulario creacion producto</h1>
<form>
    {% csrf_token %}
    <div class="mb-3">
        <label for="nombre_producto" class="form-label">nombre</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="precio_producto" class="form-label">precio</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="cantidad_producto" class="form-label">cantidad</label>
        <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

  
{% endblock %}